<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}">
  </head>
<body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">APEX NEWS</li>
          <li><a href="#">Сегодня {{ date }}</a></li>
          <li><a href="#">Новостей на сайте: {{ all_news }}</a></li>
          <li><a href="#">Пользователей сегодня: {{ persons_today }}</a></li>
        </ul>
      </div>
    </div>
    <div class="grid-x grid-padding-x align-center-middle text-center" style="height: 600px;">
      <div class="cell small-4"><img src="https://media.contentapi.ea.com/content/dam/apex-legends/compete/common/apex2-0-championship-fullcard-promo-y3.jpg.adapt.1456w.jpg"></div>
      <div class="cell small-4">Второй год Apex Legends Global Series (ALGS) до сих пор был самым значительным в истории Apex Legends как киберспорта. Поистине эпический год, который ясно дал понять, что ALGS обожают, ведь в нём отметились участием тысячи игроков, представлявших 79 стран и областей со всего мира, а суммарное время просмотров одного только чемпионата 2-го года составило почти 11 миллионов часов!

        Кульминацией ещё одного яркого года стал чемпионат ALGS в Роли, Северная Каролина — крупнейший на сегодняшний день, где 40 лучших в мире команд Apex Legends соревновались перед тысячами болельщиков, а также миллионами зрителей, наблюдавшими за чемпионатом из дома. Вряд ли это было бы возможно без наших игроков и фанатов, так что благодарим вас за поддержку киберспорта Apex Legends!</div>
    </div>
    <script src="{{ url_for('static', filename='js/vendor/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/what-input.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/foundation.js')}}"></script>
    <script src="{{ url_for('static', filename='js/app.js')}}"></script>
  </body>
</html>
